language: node_js
node_js:
  - "12"
  - node
  - lts/*
cache:
  directories:
  - node_modules

matrix:
  fast_finish: true
  allow_failures:
    - node_js: node
    - node_js: lts/*

script:
  - npm run prod_build
  - npm test

notifications:
  email:
    on_success: never
    on_failure: always