@import 'styles/variables.scss';

.classes-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-class {
  display: flex;
  padding: 1rem;
}

.join-class-text {
  padding-right: 1rem;
  flex: 0 0 auto;
  font-size: 35px;
}

.join-class-input {
  font-size: 1.7em;
  line-height: normal;
  padding: 0.25rem 0.1rem 0px 0.1rem;
  border: 0px;
  @include themify($themes) {
    background-color: themed("backgroundColor");
    color: themed("color");
  }
  border-bottom: 2px solid #dddcdf;
  outline: 0;
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  transition: all 0.5s ease;
  // color: #dddcdf;
  display: inline-block;
}

.join-class-button {
  display: inline-block;
  font-family: "Josefin Slab", sans-serif;
  // color: #dddcdf;
  color: white;
  // background-color: #857e8f;
  @include themify($themes) {
    background-color: themed("accentBackground");
  }
  cursor: pointer;
  overflow: visible;
  text-align: center;
  border: 0;
  border-radius: 3px;
  padding: 8px 10px 8px 10px;
  margin-left: 1rem;
  font-size: 1.7em;
  line-height: 1.4em;
  transition: all 0.5s ease;
}

.join-class-button:hover {
  /* border: 2px solid white;
      border-radius: 10px;
    /* box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2); */
  box-shadow: inset 0 0 0 1px white;
}

.join-class-button:disabled {
  opacity: 0.3;
  box-shadow: none;
  cursor: default;
}
