@import 'styles/variables.scss';

.class-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 50px;
  overflow: auto;
}

.section-header {
  font-size: 1.5rem;
  margin-bottom: 35px;
}

.section-content {
  font-size: 1.25rem;
}

.class-info-box {
    width: 100%;
    margin: 5px 10px 25px;
}