@use 'variables.scss';


.class-thumbnail {
    display: block;
    width: 80px;
    height: 80px;
    margin-left: 0px;
}

.class-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 9em;
    width: 95%;
    border-radius: 5px;
    margin: 10px;
    color: variables.$theme-dark;
    cursor: pointer;
    flex: 0 0 auto;
    @include variables.themify(variables.$themes) {
        color: variables.themed("cardColor");
        background-color: variables.themed("cardBackground");
        border: variables.themed("cardBorder")
    }
}

.class-box.join-class {
    height: 5em;
    padding-left: 20px;
    padding-right: 20px;
}

.class-box-body {
    color: inherit;
    display: inherit;
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
}

.class-box-body:hover {
    color: inherit;
    text-decoration: none;
}

.class-info {
    margin-left: 20px;
    padding-top: 10px;
}

.instructor-name {
    margin-top: 15px;
}

.sketch-divider {
    width: 100%;
    margin: 0;
    padding: 0;
    @include variables.themify(variables.$themes){
        border-top: 1px solid variables.themed("cardDivider");
    }
}

.sketch-button-divider {
    width: 1px;
    @include variables.themify(variables.$themes){
        border: 0.5px solid variables.themed("cardDivider");
    }
}

.sketch-name {
    width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sketch-icon {
    width: 85%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sketch-metadata{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
