.create-page{
    margin:0px;
}

.create-page-content{
    margin:inherit;
    height: 92vh;                             /*uses the value set in create-page, inherited the prop*/
    background-color:#272134;
    background-image: url('../img/myBg3.png');  /* /public/img/myBg3.png */
    background-repeat:no-repeat;
    background-position:right top;
    background-size: 1600px 700px;
    min-height:600px;
    overflow-y:auto;
    box-sizing:border-box;
}

.create-footer{
    position:absolute;
    bottom:0px;
    width:100%;
    bottom:0px;
    height: 75px;                             /*calc used to do arithmetic*/
    background-color: #473d5d;
    text-align:center;
    align-items: center;
}

.create-footer-image{
    height: 100%;
}


.create-form{
    padding:0 20px 20px;
    color:#dddcdf;
}

/* .create-header {
} */

.create-form-input-header{
    color:#FFFFFF;
    font-size:2em;
}

.create-form-input-list{
    padding-left:30px;
}

.create-button-list {
    width: 100%;
    padding: 0 15%;
}

/* .create-modal {
} */

.create-form-input {
    font-size: 1.5rem;
    line-height: normal;
    padding: .25rem .1rem 0px .1rem;
    border:0px;
    background-color:#272134;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #dddcdf;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    width: 70%;
    min-width: 300px;
    margin: 0 2px 1rem;                                 /*last value controls how far the next input starts*/
    font-variant-ligatures: none;
    -webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    -moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    box-shadow: none;
    color:#dddcdf;
    height: auto;
    display: inline-block;
}

.create-modal ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ /*changes to the placeholder text*/
  color: #4e4e4e;
}

.create-form-button {
    border: 0px;
    font-family: 'Josefin Slab', sans-serif;
    font-size: 1.3rem;
    color:#dddcdf;
    margin:20px 32.5% 10px;                                  /*margin leftright is half of 100% - width*/
    width:35%;
    background-color:#857e8f;
    height:40px;
}

.create-form-link{
    color:#2d7799;
    text-decoration: none;
}

.create-form-link:hover{
    color:#2d7799;
    text-decoration: underline;
}
