@import "styles/variables";

.CodeMirror-lines {
  cursor: default;
  margin-bottom: 20px; /* adds space for triangle on the bottom of the editor */
  padding-left: 3px; /* adds space for triangle on the left of the editor */
}

/* comments, e.g. // # /* */
.cm-comment {
  @include themify($themes) {
    color: themed("comment");
  }
}

/* import for while in etc */
span.cm-keyword {
  @include themify($themes) {
    color: themed("keyword");
  }
}

/* e.g. var *blah*, blah will be colored */
span.cm-def {
  @include themify($themes) {
    color: themed("def");
  }
}

/* e.g. var *blah*, blah will be colored */
span.cm-variable {
  @include themify($themes) {
    color: themed("variable");
  }
}

/* for python: print, range, all built-in functions */
.cm-builtin {
  @include themify($themes) {
    color: themed("builtin");
  }
}

/* 1 2 -11 etc */
.cm-number {
  @include themify($themes) {
    color: themed("number");
  }
}

/* + - > < etc */
.cm-operator {
  @include themify($themes) {
    color: themed("operator");
  }
}

.cm-property {
  @include themify($themes) {
    color: themed("property");
  }
}

.CodeMirror {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  height: 100%;
  max-height: inherit;
  max-width: inherit;
  min-height: inherit;

  @include themify($themes) {
    background-color: themed("backgroundColor");
    color: themed("color");
  }
}

.CodeMirror .CodeMirror pre {
  padding-left: 5px;
  padding-right: 4px;
}

.CodeMirror-gutter {
  display: inline-block;
  height: 100%;
  margin-bottom: -30px;
  vertical-align: top;
  white-space: normal;
  width: 41px;

  @include themify($themes) {
    background-color: themed("backgroundColor");
    color: themed("color");
  }
}

.CodeMirror-linenumber {
  color: #fff;
  padding-left: 15px;
  text-align: left;
  width: 23px;

  @include themify($themes) {
    color: themed("color");
  }
}

// a strange CSS way to create our floating cursor. not great, not awful.

.CodeMirror-cursor {
  border-bottom: none !important;
  border-left: 1px solid #a38b41 !important;
  border-right: 0.5px solid #a38b41 !important;
  border-top: none !important;
}

.CodeMirror-cursor::after {
  background-color: rgb(255 255 255 / 0%);
  background-image: url("./triangle.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 20px auto;
  color: rgb(255 255 255 / 0%);
  content: "";
  height: 500px;
  left: -10px;
  margin-top: 26px;
  position: absolute;
  width: 500px;
}

/* required for safari because it places the ::after element differently than chrome/fiefox;
taken from https://stackoverflow.com/questions/16348489/is-there-a-css-hack-for-safari-only-not-chrome */
@media not all and (min-resolution: 0.001dpcm) {
  .CodeMirror-cursor::after {
    margin-top: 2px;
  }
}

.CodeMirror-scroll {
  overflow: hidden !important;
}

/* most of the codemirror styles we can override for text
.cm-s-material .CodeMirror-activeline-background { background: rgba(0, 0, 0, 0); }
.cm-s-material .cm-operator { color: rgba(233, 237, 237, 1); }
.cm-s-material .cm-variable-2 { color: #80CBC4; }
.cm-s-material .cm-variable-3, .cm-s-material .cm-type { color: #82B1FF; }
.cm-s-material .cm-builtin { color: #DECB6B; }
.cm-s-material .cm-atom { color: #F77669; }
.cm-s-material .cm-number { color: #F77669; }
.cm-s-material .cm-def { color: rgba(233, 237, 237, 1); }
.cm-s-material .cm-string { color: #C3E88D; }
.cm-s-material .cm-string-2 { color: #80CBC4; }
.cm-s-material .cm-comment { color: #546E7A; }
.cm-s-material .cm-variable { color: #82B1FF; }
.cm-s-material .cm-tag { color: #80CBC4; }
.cm-s-material .cm-meta { color: #80CBC4; }
.cm-s-material .cm-attribute { color: #FFCB6B; }
.cm-s-material .cm-property { color: #80CBAE; }
.cm-s-material .cm-qualifier { color: #DECB6B; }
.cm-s-material .cm-variable-3, .cm-s-material .cm-type { color: #DECB6B; }
.cm-s-material .cm-tag { color: rgba(255, 83, 112, 1); }
*/
