.react-codemirror2{
	padding-right: 1px;
	max-width:100%;
	max-height:inherit;
	border-top:1px white solid;
	background-color:#857e8f;
	padding-top:20px;
	height:100%;
}

.react-codemirror2 ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.react-codemirror2 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.react-codemirror2 ::-webkit-scrollbar-thumb {
    background: #57535e;
}

/* Handle on hover */
.react-codemirror2 ::-webkit-scrollbar-thumb:hover {
    background: #2f2d33;
}


.cm-s-material.CodeMirror{
	box-sizing:border-box;
	max-width: inherit;
	max-height: inherit;
	min-height: inherit;
	background-color: rgb(38, 50, 56, 0.0);
	font-family: 'Ubuntu Mono', monospace;
	color:white;
	font-size:18px;
	height:100%
}

.CodeMirror pre {
    padding-left: 5px;
    padding-right: 4px;
}

.cm-s-material .CodeMirror-gutters{
	background-color: #857e8f;
	/* border-right:1px solid white; */
	  /* color:white; */
}
.cm-s-material .CodeMirror-guttermarker, .cm-s-material .CodeMirror-guttermarker-subtle, .cm-s-material .CodeMirror-linenumber{
	color:white;
}

.cm-s-material .CodeMirror-guttermarker, .cm-s-material .CodeMirror-guttermarker-subtle, .cm-s-material .CodeMirror-linenumber{
	text-align:left;
	padding-left:15px;
}

.cm-s-material .cm-comment{
	color:#c792ea;
}

.cm-s-material span.cm-keyword{
	color:#583c4f;
}

.cm-s-material span.cm-def{
	color:#9deaf4;
}

.cm-s-material span.cm-variable{
	/* color:#8dade2; */
	color:#e8c406;
}
