.react-codemirror2 {
  height: 100%;
}

.CodeMirror {
  height: 100%;
}

/* around each line (padding adds space between line and the gutter/edge of the editor */
.CodeMirror pre {
  padding-left: 5px;
  padding-right: 4px;
}

.CodeMirror-cursor {
  border-left: 1px solid #f4ee94;
}

.CodeMirror-cursor::after {
  position: absolute;
  margin-top: 2px;
  left: -10px;
  color: rgba(255, 255, 255, 0);
  content: "";
  width: 500px;
  height: 500px;
  background-position: left top;
  background-color: rgba(255, 255, 255, 0);
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-image: url("./triangle.png");
}

.CodeMirror-scroll {
  overflow: auto !important;
  padding-bottom: 0px;
  height: 100%;
}

.CodeMirror-lines {
  padding-top: 15px;
  margin-bottom: 20px; /*adds space for triangle on the bottom of the editor*/
  padding-left: 3px; /*adds space for triangle on the left of the editor*/
  cursor: default;
}

/* most of the codemirror styles we can override for text
.cm-s-material .CodeMirror-activeline-background { background: rgba(0, 0, 0, 0); }
.cm-s-material .cm-operator { color: rgba(233, 237, 237, 1); }
.cm-s-material .cm-variable-2 { color: #80CBC4; }
.cm-s-material .cm-variable-3, .cm-s-material .cm-type { color: #82B1FF; }
.cm-s-material .cm-builtin { color: #DECB6B; }
.cm-s-material .cm-atom { color: #F77669; }
.cm-s-material .cm-number { color: #F77669; }
.cm-s-material .cm-def { color: rgba(233, 237, 237, 1); }
.cm-s-material .cm-string { color: #C3E88D; }
.cm-s-material .cm-string-2 { color: #80CBC4; }
.cm-s-material .cm-comment { color: #546E7A; }
.cm-s-material .cm-variable { color: #82B1FF; }
.cm-s-material .cm-tag { color: #80CBC4; }
.cm-s-material .cm-meta { color: #80CBC4; }
.cm-s-material .cm-attribute { color: #FFCB6B; }
.cm-s-material .cm-property { color: #80CBAE; }
.cm-s-material .cm-qualifier { color: #DECB6B; }
.cm-s-material .cm-variable-3, .cm-s-material .cm-type { color: #DECB6B; }
.cm-s-material .cm-tag { color: rgba(255, 83, 112, 1); }
*/
