.editor-container{
    width: 100%;
    background-color: #58ACF4;
}

.editor-enter{
    opacity: .01;
    transform: scale(1) translateX(100%);
}

.editor-enter-active{
    opacity: 1;
    transform: scale(1) translateX(0%);
    transition: all 300ms ease-in;
}

.editor-exit {
    opacity: 1;
    transform: scale(1) translateX(0%);
}
.editor-exit-active {
    opacity: .01;
    transform: scale(1) translateX(100%);
    transition: all 300ms ease-in;
}
