.editor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #252132;
  justify-content: flex-start;
  position: absolute;
  transition: all 0.5s ease;
}

.code-section {
  display: flex;
  overflow-y: hidden;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  max-height: 100vh;
  overflow-y: auto;
  background-color: #252132;
}

.code-section-banner {
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
  height: 67px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 67px;
  border-bottom: 1px white solid;
}

.editor-expand-panel-arrow {
  color: #dddcdf;
  padding: 1rem;
  cursor: pointer;
  flex: 0 1 auto;
  width: 46px;
}

.editor-expand-panel-arrow-hidden {
  padding: 1rem;
  flex: 0 1 auto;
  width: 46px;
}

.editor-language-dropdown {
  flex: 0 1 auto;
}

.editor-language-dropdown-closed-content {
  display: inline-block;
}

.editor-run {
  font-family: "Josefin Sans", sans-serif;
  flex: 0 1 auto;
  justify-self: flex-end;
  margin-left: 10px;
  margin-right: 10px;
}

.editor-run-button {
  display: flex;
  width: 160px;
  height: 40px;
  background-color: #4caf50;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 3px #999;
  line-height: 45px;
}

.editor-run-button-content {
  height: auto;
  width: 100%;
  display: flex;
  text-align: left;
  padding: 3px;
  align-items: center;
}

.editor-run-button-arrow {
  flex: 1 1 auto;
  width: 100%;
}

.editor-run-button-text {
  flex: 0 0 auto;
}

.editor-run-button:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2);
}

.editor-run-button:active {
  background-color: #63966b;
  box-shadow: 1px 1px #666;
  transform: translateY(2px);
}

.editor-footer {
  width: 100%;
  margin-top: auto;
  height: 10vh; /*calc used to do arithmetic*/
  background-color: #473d5d;
  text-align: center;
  align-items: center;
  padding-top: auto;
}

.editor-footer-image {
  height: 100%;
}

.editor-output {
  background-color: #585166;
  height: 100%;
}

.editor-output-banner {
  height: 67px;
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px white solid;
}

.editor-output-iframe {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
}

.text-editor-container {
  width: 100%;
  margin-top: 10px;
  /* height: 600px;
  min-height:600px;
  max-height:600px; */
  top: 61px;
  overflow: auto;
}

.btn:not(:disabled):not(.disabled) {
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif; /*font for the whole login page */
  color: white;
  border: 0px;
}

.selected-line {
  background-color: rgb(255, 255, 255, 0.1);
}

.text-editor-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.text-editor-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.text-editor-container::-webkit-scrollbar-thumb {
  background: #37343d;
}

/* Handle on hover */
.text-editor-container::-webkit-scrollbar-thumb:hover {
  background: #2f2d33;
}
