@import "styles/variables.scss";
.root {
  transition: all 0.5s ease;
}
.editor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  transition: all 0.5s ease;
}

.code-section {
  display: flex;
  overflow-y: hidden;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  max-height: 100vh;
  overflow-y: auto;
  @include themify($themes) {
    background-color: themed("backgroundColor");
  }
}

.program-sketch-thumbnail {
  position: relative;
  left: 6px;
  height: 50px;
  width: 50px;
  padding: 4px;
  border-radius: 25px;
  @include themify($themes) {
    background-color: themed("cardBackground");
  }
}

.program-sketch-name {
  flex: 0 1 auto;
  @include themify($themes) {
    color: themed("color");
  }
  max-width: 200px;
  font-size: 24px;
  margin-left: 1em;
}

.code-section-banner {
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
  height: 67px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 67px;
  @include themify($themes) {
    border-bottom: 1px solid themed("color");
  }
}

.editor-expand-panel-arrow {
  @include themify($themes) {
    color: themed("color");
  }
  padding: 1rem;
  cursor: pointer;
  flex: 0 1 auto;
  width: 46px;
}

.editor-language-dropdown {
  position: relative;
  left: 6px;
  flex: 0 1 auto;
}

.editor-language-dropdown-closed-content {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

.editor-output {
  @include themify($themes) {
    background-color: themed("outputBackground");
  }
  height: 100%;
}

.editor-output-banner {
  height: 67px;
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  @include themify($themes) {
    border-bottom: 1px solid themed("color");
  }
}

.editor-output-iframe {
  width: 100%;
  height: 100%;
  @include themify($themes) {
    background-color: themed("outputBackground");
  }
  border: none;
  display: flex;
}

.text-editor-container {
  width: 100%;
  padding-top: 10px;
  top: 61px;
  overflow: auto;
  @include themify($themes) {
    background-color: themed("backgroundColor");
  }
}

.btn-language-dropdown {
  transition: none;
  display: flex;
  align-items: center;
  font-size: 24px;
  @include themify($themes) {
    color: themed("color");
    background-color: none;
  }
  border: 0px;
}

.btn-language-dropdown:hover {
  @include themify($themes) {
    color: themed("color");
  }
}

.selected-line {
  @include themify($themes) {
    background-color: themed("selectedLine");
  }
}

.text-editor-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.text-editor-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.text-editor-container::-webkit-scrollbar-thumb {
  background: #37343d;
}

/* Handle on hover */
.text-editor-container::-webkit-scrollbar-thumb:hover {
  background: #2f2d33;
}

.fork-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-width: 400px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 20px;
}

.status-bar-container {
  @include themify($themes) {
    background-color: themed("backgroundColor");
  }
  margin-left: 60%;
  padding: 10px 20px 0px;
  position: absolute;
  bottom: 0%;
  width: fit-content;
}

.status-bar-info {
  font-size: 25px;
}
