@import "styles/variables.scss";

.editor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: $theme-dark;
  justify-content: flex-start;
  position: absolute;
  transition: all 0.5s ease;
}

.code-section {
  display: flex;
  overflow-y: hidden;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  max-height: 100vh;
  overflow-y: auto;
  @include themify($themes) {
    background-color: themed("backgroundColor");
  }
}

.code-section-banner {
  display: flex;
  flex-direction: row;
  padding: 5px 0px;
  height: 67px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 67px;
  @include themify($themes) {
    border-bottom: 1px solid themed("color");
  }
}

.editor-expand-panel-arrow {
  @include themify($themes) {
    color: themed("color");
  }
  padding: 1rem;
  cursor: pointer;
  flex: 0 1 auto;
  width: 46px;
}

.editor-expand-panel-arrow-hidden {
  // padding: 1rem;
  // flex: 0 1 auto;
  // width: 46px;
}

.editor-language-dropdown {
  flex: 0 1 auto;
}

.editor-language-dropdown-closed-content {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
}

.editor-output {
  background-color: $theme-tertiary;
  height: 100%;
}

.editor-output-banner {
  height: 67px;
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px white solid;
}

.editor-output-iframe {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
}

.text-editor-container {
  width: 100%;
  padding-top: 10px;
  top: 61px;
  overflow: auto;
  @include themify($themes) {
    background-color: themed("backgroundColor");
  }
}

.btn-language-dropdown {
  transition: none;
  display: flex;
  align-items: center;
  font-size: 24px;
  @include themify($themes) {
    color: themed("color");
    background-color: themed("backgroundColor");
  }
  border: 0px;
}

.btn-language-dropdown:hover {
  @include themify($themes) {
    color: themed("color");
  }
}

.selected-line {
  background-color: rgba(255, 255, 255, 0.1);
}

.text-editor-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.text-editor-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.text-editor-container::-webkit-scrollbar-thumb {
  background: #37343d;
}

/* Handle on hover */
.text-editor-container::-webkit-scrollbar-thumb:hover {
  background: #2f2d33;
}
