@import "styles/variables";

.root {
  transition: all 0.5s ease;
}

.editor {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: absolute;
  transition: all 0.5s ease;
}

.code-section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;

  @include themify($themes) {
    background-color: themed("backgroundColor");
  }
}

.program-sketch-thumbnail {
  border-radius: 25px;
  height: 50px;
  left: 6px;
  padding: 4px;
  position: relative;
  width: 50px;

  @include themify($themes) {
    background-color: themed("cardBackground");
  }
}

.program-sketch-name {
  flex: 0 1 auto;
  font-size: 24px;
  margin-left: 1em;
  max-width: 200px;

  @include themify($themes) {
    color: themed("color");
  }
}

.code-section-banner {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 67px;
  justify-content: flex-start;
  padding: 5px 0;
  width: 100%;

  @include themify($themes) {
    border-bottom: 1px solid themed("color");
  }
}

.editor-expand-panel-arrow {
  cursor: pointer;
  flex: 0 1 auto;
  padding: 1rem;
  width: 46px;

  @include themify($themes) {
    color: themed("color");
  }
}

.editor-language-dropdown {
  flex: 0 1 auto;
  left: 6px;
  position: relative;
}

.editor-language-dropdown-closed-content {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.editor-output {
  height: 100%;

  @include themify($themes) {
    background-color: themed("outputBackground");
  }
}

.editor-output-banner {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 67px;
  justify-content: flex-start;
  padding: 5px 0;
  width: 100%;

  @include themify($themes) {
    border-bottom: 1px solid themed("color");
  }
}

.editor-output-iframe {
  border: none;
  display: flex;
  height: 100%;
  width: 100%;

  @include themify($themes) {
    background-color: themed("outputBackground");
  }
}

.text-editor-container {
  overflow: auto;
  padding-top: 10px;
  top: 61px;
  width: 100%;

  @include themify($themes) {
    background-color: themed("backgroundColor");
  }

  .cm-s-material .CodeMirror-matchingbracket {
    background-color: rgba(0 255 0 40%);
    text-decoration: none;
  }
}

.btn-language-dropdown {
  align-items: center;
  border: 0;
  display: flex;
  font-size: 24px;
  transition: none;

  @include themify($themes) {
    background-color: none;
    color: themed("color");
  }
}

.btn-language-dropdown:hover {
  @include themify($themes) {
    color: themed("color");
  }
}

.selected-line {
  @include themify($themes) {
    background-color: themed("selectedLine");
  }
}

.text-editor-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.text-editor-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.text-editor-container::-webkit-scrollbar-thumb {
  background: #37343d;
}

/* Handle on hover */
.text-editor-container::-webkit-scrollbar-thumb:hover {
  background: #2f2d33;
}

.fork-modal {
  background-color: rgb(255 255 255);
  border-radius: 20px;
  left: 50%;
  min-width: 400px;
  padding: 40px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
