@import 'styles/variables.scss';

.footer {
  align-items: center;
  bottom: 0;
  height: 8vh; /* calc used to do arithmetic */
  position: absolute;
  text-align: center;
  width: 100%;

  @include themify($themes) {
    background-color: themed('accentBackground');
  }
}

.footer-image {
  height: 100%;
}
