@import 'styles/variables.scss';

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  bottom: 0;
  height: 8vh; /* calc used to do arithmetic */
  text-align: center;
  align-items: center;

  @include themify($themes) {
    background-color: themed("accentBackground");
  }
}

.footer-image {
  height: 100%;
}
