@use 'variables.scss';

html,
body,
#root {
  /* without this the background color doesn't affect the whole window */
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: variables.$font-family-body;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$font-family-heading;
}

* {
  /* needed for the modal's button to stay within the window */
  box-sizing: border-box;
}

.force-no-wrap {
  white-space: nowrap;
}

.teachla-green {
  background-clip: text;
  //color: #92D32B;
  background-color: variables.$teachla-primary;
  background-image: variables.$teachla-gradient;
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.black-divider {
  border: 0;
  border-top: 1px solid variables.$theme-dark;
  height: 1px;
  margin: 0;
  margin-top: 1em;
}
