@import 'styles/variables.scss';

html, body, #root {
  /*without this the background color doesn't affect the whole window*/
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-body;
  overflow: hidden;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

* {
  /*needed for the modal's button to stay within the window*/
  box-sizing: border-box;
}

.force-no-wrap {
  white-space: nowrap;
}

.teachla-green{
  //color: #92D32B;
  background-color: $teachla-primary;
  background-image: $teachla-gradient;
  background-size: 100%;
  -webkit-background-clip: text;
  -mox-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.black-divider{
  border:0;
  border-top: 1px solid $theme-dark;
  margin:0;
  height:1px;
  margin-top: 1em;
}