.image-selector-modal {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  left: 50%;
  min-height: 470px;
  padding: 40px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-selector-modal-header {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.image-selector-modal-header-thumbnail-container {
  flex: 0 0;
  height: 100px;
  width: 100px;
}

.image-selector-gallery {
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  justify-content: space-evenly;
  margin-bottom: 10px;
  margin-left: 10px;
  overflow-y: auto;
  width: 100%;
}
