@use 'variables';

.Loading {
  align-items: center;
  background-color: variables.$theme-light;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.Loading-title {
  color: variables.$off-white;
  font-family: variables.$font-family-heading;
  font-size: 5rem;
  margin: 0 0 2rem;
}

.Loading-page-text {
  color: variables.$off-white;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 3rem;
}

.Loading-link-text {
  color: variables.$off-white;
  text-decoration: underline;
}

.Loading-link-text:hover {
  color: variables.$teachla-primary;
}
