.login-page {
  margin: 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.login-page-content {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 93%;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #272134;
  padding-bottom: 8vh;
}

@media only screen and (max-width: 1024px) {
  .hidden-small {
    display: none;
  }
  .login-page-content {
    background-image: none;
  }
}

.login-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  bottom: 0px;
  height: 8vh; /*calc used to do arithmetic*/
  background-color: #473d5d;
  text-align: center;
  align-items: center;
}

.login-footer-image {
  height: 100%;
}

.login-form {
  padding: 0 1.5em;
  color: #dddcdf;
}

@media only screen and (max-width: 1024px) {
  .login-form-loader {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
}

.login-header {
  font-size: 40px;
  font-weight: bold;
}

.login-form-input-header {
  color: #dddcdf;
  font-size: 36px;
  margin-bottom: 1rem;
}

.login-form-input-error {
  color: red;
  font-size: 1rem;
}

.login-form-container {
  font-family: "Josefin Slab", sans-serif; /*font for the whole login page*/
  display: block;
  margin-top: 30px; /*modal distance from top of the screen*/
  box-sizing: border-box;
  width: 50%;
}

@media only screen and (max-width: 1024px) {
  .login-form-container {
    text-align: center;
    width: 100%;
  }
}

.login-form-input {
  font-size: 1.5em;
  line-height: normal;
  padding: 0.25rem 0.1rem 0px 0.1rem;
  border: 0px;
  background-color: #272134;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid #dddcdf;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  margin: 0 2px 1rem; /*last value controls how far the next input starts*/
  font-variant-ligatures: none;
  -webkit-transition: box-shadow 70ms ease-out, border-color 70ms ease-out;
  -moz-transition: box-shadow 70ms ease-out, border-color 70ms ease-out;
  transition: box-shadow 70ms ease-out, border-color 70ms ease-out;
  box-shadow: none;
  color: #dddcdf;
  height: auto;
  display: inline-block;
}

.login-form-input:disabled {
  color: #686868;
}

.login-modal ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */ /*changes to the placeholder text*/
  color: #c0e2fd;
}

.login-form-button {
  display: inline-block;
  font-family: "Josefin Slab", sans-serif;
  color: #dddcdf;
  background-color: #857e8f;
  cursor: pointer;
  overflow: visible;
  text-align: center;
  border: 0;
  border-radius: 3px;
  user-select: none;
  text-decoration: none;
  padding: 0.5em 1em;
  font-size: 1.3rem;
  line-height: 1.4em;
  margin-right: 0.5em;
}

.login-form-link {
  color: #2d7799;
  text-decoration: none;
  font-size: 1.2rem;
}

.login-form-link:hover {
  color: #2d7799;
  text-decoration: underline;
}

.force-no-wrap {
  white-space: nowrap;
}
