.login-page{
    height:100%;
    width:100%;
    margin:0px;
    font-family: 'Josefin Slab', sans-serif;      /*font for the whole login page*/
    overflow-y: hidden;
    overflow-x: hidden;
}

.login-page-content{
    height: 90vh;                             /*uses the value set in login-page, inherited the prop*/
    bottom:10vh;
    width:100%;
    background-image: url('myBg3.png'); 
    background-repeat:no-repeat;
    background-size: 100% 100%;
    min-height:600px;
    overflow-y:auto;
}

.login-footer{    
    position:fixed;
    width:100%;
    bottom:0px;  
    height: 10vh;                             /*calc used to do arithmetic*/
    background-color: #473d5d;  
    text-align:center;
    align-items: center;
}

.login-footer-image{      
    height: 100%;
}


.login-form{
    padding:20px 20px;
    color:#dddcdf;
}

.login-header {
    font-size:3em;
    white-space:nowrap;
    font-weight: bold;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.login-form-input-header{
    color:#706d79;
    font-size:2em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}   

.login-form-input-list{
    padding-left:30px;
}

.login-button-list {
    width: 100%;
    padding: 0 15%;
}

.login-modal {
    display:block;
    color: #2c2d30;
    width: 460px;
    margin-bottom:550px;
    min-height:550px;
    margin-top: 30px;                   /*modal distance from top of the screen*/
    margin-left: 8%;                    /*modal distance from left side of the screen*/
    padding:15px;
    box-sizing:border-box;
}

.login-form-input {
    font-size: 1.5rem;
    line-height: normal;
    padding: .25rem .1rem 0px .1rem;
    border:0px;
    background-color:#272134;
    border-top: 0px;    
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #dddcdf;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    width: 70%;
    min-width: 300px;
    margin: 0 2px 2rem;                                 /*last value controls how far the next input starts*/
    font-variant-ligatures: none;
    -webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    -moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    box-shadow: none;
    color:#dddcdf;
    height: auto;
    display: inline-block;
}

.login-modal ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ /*changes to the placeholder text*/
  color: #C0E2FD;                               
}

.login-form-button {
    border: 0px;
    font-size: 1.3rem;
    color:#dddcdf;
    margin:20px 32.5% 10px;                                  /*margin leftright is half of 100% - width*/
    width:35%;
    background-color:#857e8f;
    height:40px;
}

.login-form-link{
    color:#2d7799;
    text-decoration: none;
}

.login-form-link:hover{
    color:#2d7799;
    text-decoration: underline;
}