@import 'styles/variables.scss';

.login-page-content {
  background-color: white;
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 100%;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  overflow-y: auto;
  padding-left: 4em;
  width: 100%;
}

.login-page-content-main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
}

.login-page-content-footer {
  flex-shrink: 0;
  padding-bottom: 1em;
}

@media only screen and (max-width: 1024px) {
  .login-page-content {
    background-image: none;
    flex-direction: column;
    padding-left: 0;
    padding-top: 3em;
  }

  .login-form-loader {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.login-form-input-header {
  color: $theme-dark;
  font-size: 24px;
  margin-bottom: 0.2rem;
}

.login-form-input-error {
  color: $theme-error;
  font-size: 1rem;
}

.login-page-content-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  z-index: 5;
}

@media only screen and (max-width: 1024px) {
  .login-page-content-container {
    align-items: center;
    text-align: center;
    width: 100%;
  }
}

.login-page-images {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.login-page-art {
  max-height: 500px;
  position: absolute;
  right: 30px;
  top: 120px;
  width: 1000px;
  z-index: 1;

  @media only screen and (max-width: 1024px) {
    max-height: 200px;
    max-width: 300px;
    position: relative;
    right: 0;
    top: -30px;
  }
}

.background-svg {
  height: 100%;
  max-width: 1084px;
  position: absolute;
  right: 0;
  top: 0;

  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.login-form-input {
  appearance: none;
  background-color: $theme-dark;
  border: 0;
  border-left: 0;
  border-radius: 8px;
  border-right: 0;
  border-top: 0;
  box-shadow: none;
  color: $off-white;
  display: inline-block;
  font-size: 1.5em;
  font-variant-ligatures: none;
  height: auto;
  line-height: normal;
  margin: 0 2px 1rem; /* last value controls how far the next input starts */
  max-width: 400px;
  min-width: 300px;
  outline: 0;
  padding: 0.2rem 0.5rem;
  transition: box-shadow 70ms ease-out, border-color 70ms ease-out;
  width: 50%;
}

.login-form-input:disabled {
  color: #686868;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.login-modal ::input-placeholder {
  /* Chrome/Opera/Safari */

  /* changes to the placeholder text */
  color: #c0e2fd;
}

.login-form-link {
  color: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 5px;
}

.login-form-link:hover {
  color: inherit;
  text-decoration: underline;
}

.bottom-right-toggle {
  position: absolute;
  right: 20px;
  top: 20px;

  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.beating-heart {
  animation: heartbeat 2s infinite;
  color: red;
}

/* The keyframes + class for the heartbeat animation I use across the site. */
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.75);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.75);
  }
}
