@import "styles/variables.scss";

.login-page-content {
  display: flex;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 93%;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: white;
  background-size: auto 100%;
  background-position: right;
  padding-left: 4em;
}

.login-page-content-main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-page-content-footer{
  flex-shrink: 0;
  padding-bottom: 1em;
}

@media only screen and (max-width: 1024px) {
  .login-page-content {
    background-image: none;
    flex-direction: column;
    padding-left: 0em;
  }
  .login-form-loader {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
}

.login-form-input-header {
  color: $theme-dark;
  font-size: 24px;
  margin-bottom: 0.2rem;
}

.login-form-input-error {
  color: $theme-error;
  font-size: 1rem;
}

.login-page-content-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  z-index: 5;
}

@media only screen and (max-width: 1024px) {
  .login-page-content-container {
    text-align: center;
    align-items: center;
    width: 100%;
  }
}

.login-page-images {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page-art {
  position: absolute;
  top: 120px;
  right: 30px;
  width: 1000px;
  max-height: 500px;
  z-index: 1;
  @media only screen and (max-width: 1024px) {
    position: relative;
    top: -30px;
    right: 0px;
    max-width: 300px;
    max-height: 200px;
  }
}
.background-svg {
  max-width: 1084px;
  position: absolute;
  right: 0;
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.login-form-input {
  font-size: 1.5em;
  line-height: normal;
  padding: 0.2rem 0.5rem;
  border: 0px;
  border-radius: 8px;
  background-color: $theme-dark;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  width: 50%;
  min-width: 300px;
  max-width: 400px;
  margin: 0 2px 1rem; /*last value controls how far the next input starts*/
  font-variant-ligatures: none;
  -webkit-transition: box-shadow 70ms ease-out, border-color 70ms ease-out;
  -moz-transition: box-shadow 70ms ease-out, border-color 70ms ease-out;
  transition: box-shadow 70ms ease-out, border-color 70ms ease-out;
  box-shadow: none;
  color: $off-white;
  height: auto;
  display: inline-block;
}

.login-form-input:disabled {
  color: #686868;
}

.login-modal ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */ /*changes to the placeholder text*/
  color: #c0e2fd;
}

.login-form-link {
  color: inherit;
  text-decoration: none;
  font-size: 1.2rem;
}

.login-form-link:hover {
  color: inherit;
  text-decoration: underline;
}

.beating-heart{
  color: red;
  animation: heartbeat 2s infinite;
}

/* The keyframes + class for the heartbeat animation I use across the site. */
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.75);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.75);
  }
}