.modal-sm {
  background-color: rgb(255 255 255);
  border-radius: 20px;
  left: 50%;
  min-width: 400px;
  padding: 40px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.modal-md {
  background-color: rgb(255 255 255);
  border-radius: 20px;
  left: 50%;
  min-width: 450px;
  padding: 40px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.modal-overlay {
  background-color: rgb(59 59 59 / 51.4%);
  inset: 0;
  position: fixed;
  z-index: 80;
}
