.editor-output-iframe div {
  box-sizing: border-box;
}

.editor-output-iframe {
  display: flex;
  flex-flow: column;
   padding: 10px;
}

#my-canvas {
  background-color: #c5c5c5;
  border: 1px solid black;
  margin: 10px 0;
  height: 40%;
}

#inner {
  background-color: #222;
  height: 40%;
  color: #ddd;
  font-family: monospace;
  margin: 0 auto;
  overflow: auto;
  word-wrap: break-word;
  padding: 10px 35px 10px 10px;
  position: relative;
  border: 0;
  resize: vertical;
  width: 100%;
}
