.editor-output-iframe div {
    box-sizing: border-box;
}

.editor-output-iframe {
    display: flex;
    flex-flow: column;
}

#output {
    height: 40%;
    margin: 10px 10px 0;
}

#my-canvas {
    margin: 10px;
    border: 1px solid black;
    background-color: #C5C5C5;
    height: 40%;
}


#inner {
    height: 100%;
    background-color: #222;
    color: #DDD;
    font-family: monospace;
    word-wrap: break-word;
    overflow: auto;
    margin: 0px auto;
    position: relative;
    padding: 10px 35px 10px 10px;
    width: 100%;
    resize: vertical;
    border: 0;
}
