.panel {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  background-color: #272134;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.panel-collapse-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #dddcdf;
  cursor: pointer;
  font-size: 35px;
}

.panel-content {
  display: flex;
  width: 100%;
  padding-top: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: content-box;
}

.panel-image {
  border-radius: 500px;
  border: 1px solid #dddcdf;
  width: 200px;
  /*background:#000;*/ /*if you leave this out, transparent profile pictures will show the background behind it*/
}

.panel-name {
  float: middle;
  text-align: center;
  margin: 0px 10px;
  max-width: 90%;
  padding: 20px 0 5px;
  font-size: 2rem;
  font-weight: bold;
  word-wrap: break-word;
  color: #dddcdf;
}
.test {
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #857e8f;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(133, 129, 129);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 35px;
  margin-left: 35px;
  margin-bottom: 20px;
}
.test:hover {
  border: 2px solid white;
  border-radius: 10px;
}

.panel-options {
  width: 100%;
  list-style-position: inside;
  list-style-type: square;
  font-size: 2.5rem;
  text-align: center;
  justify-content: flex-start;
}

.panel-options-list {
  display: inline-block;
  padding: 0px;
  margin-top: 25px;
  width: 100%;
}

.panel-options-item {
  font-weight: normal;
  font-size: 2.5rem;
  width: fit-content;
  margin: 0px;
  color: #dddcdf;
  justify-content: flex-start;
}

.panel-options-item:hover {
  font-weight: bold;
  color: "#cdcccf";
}
