@import "styles/variables.scss";

.panel {
  display: flex;
  position: absolute;
  background-color: $theme-light;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  transition: left 0.5s ease;
}

.panel-collapse-button {
  color: $off-white;
  padding-right: 15px;
  flex: 0 0 auto;
  font-size: 1.25rem;
  height: 67px;
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.panel-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: content-box;
}

.panel-image {
  width: 205px;
  height: 200px;
  /*background:#000;*/ /*if you leave this out, transparent profile pictures will show the background behind it*/
}

.profile-image-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 470px;
  width: 400px;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
}

.profile-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(59, 59, 59, 0.514);
  z-index: 80;
}

.panel-image-container {
  position: relative;
  width: 205px;
  height: 200px;
}

.image-edit-button {
  font-size: 1.25rem;
  border: none;
  background-color: transparent;
  color: $off-white;
  position: absolute;
  right: -15px;
  bottom: -15px;
}

.gallery {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  grid-gap: 40px;
  padding-bottom: 40px;
}

.gallery-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
  padding: 2px;
  border: 3px white solid;
}

.gallery-img-selected {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
  padding: 2px;
  border: 3px $theme-highlight solid;
}

.gallery-img:hover {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
  padding: 2px;
  border: 3px $theme-light solid;
}

.name-container {
  width: 25vw;
  position: relative;
  float: middle;
  padding: 27px 0 5px;
}

.edit-icon-image {
  font-size: 1.25rem;
  color: $off-white;
  position: absolute;
  border: none;
  right: -30px;
  top: 50%;
  margin-top: -15px;
  background-color: transparent;
}

.panel-edit-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.panel-edit {
  width: 90%;
  float: middle;
  padding: 20px 0 5px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: $off-white;
  word-wrap: break-word;
  background-color: $theme-dark;
  align-items: baseline;
  border: none;
}

.profile-input-error {
  color: $error-red;
  font-size: 1rem;
  text-align: center;
  padding: 0px 25px;
}

.panel-name {
  float: middle;
  text-align: center;
  margin: 0px 50px;
  width: 150px;
  padding: 20px 0 20px;
  font-size: 2rem;
  word-wrap: break-word;
  color: white;
  position: relative;
  font-family: $font-family-heading;
}

.panel-buttons {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  padding-top: 25px;
  cursor: default;
}

.panel-button {
  background-color: $theme-dark;
  border-color: $theme-dark;
  text-align: left;
  font-size: 2em !important; /* reactstrap also has a !important somewhere, so we need to do this */
  /* this next block of CSS properly aligns button content */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.panel-button:hover,
.panel-button:active {
  color: $theme-dark !important;
  border-color: $off-white !important;
  background-color: $off-white !important;
}

.panel-button-text {
  flex: 1;
  text-align: center;
}

/*scrollbar stuff*/
.panel-content::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.panel-content::-webkit-scrollbar-track {
  background: #333333;
}

/* Handle */
.panel-content::-webkit-scrollbar-thumb {
  background: #46414f;
}

/* Handle on hover */
.panel-content::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

// Theme Switch
.panel-switch {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  position: relative;
  display: block;
  width: 100px;
  height: 30px;
  margin: 0 10px 10px 0;
  border-radius: 6px;
  cursor: pointer;
  box-sizing: content-box;
  font-family: inherit;
}
.panel-switch-input {
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  box-sizing: content-box;
}
.panel-switch-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: inherit;
  font-size: 1rem;
  background: #eceeef;
  border-radius: inherit;
}
.icon-dark {
  color: #ffffff;
}

.panel-switch-input:checked ~ .panel-switch-label {
  background: $theme-dark;
}

.panel-switch-input:checked + .icon-dark {
  opacity: 0;
}
.panel-switch-handle {
  position: absolute;
  top: 9px;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.panel-switch-input:checked ~ .panel-switch-handle {
  left: 88px;
}

/* Transition
========================== */
.panel-switch-label,
.panel-switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}
