@import 'variables.scss';

.panel {
  align-items: center;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  position: absolute;
  transition: left 0.5s ease;

  @include themify($themes) {
    background-color: themed('accentBackground');
    color: themed('accentColor');
  }
}

.panel-collapse-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  font-size: 1.25rem;
  height: 67px;
  margin-left: auto;
  padding-right: 15px;

  @include themify($themes) {
    color: themed('accentColor');
  }
}

.panel-content {
  align-items: center;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.panel-image {
  height: 200px;
  width: 205px;

  /* background:#000; */

  /* if you leave this out, transparent profile pictures will show the background behind it */
}

.profile-image-modal {
  background-color: white;
  border-radius: 20px;
  height: 470px;
  left: 50%;
  padding: 40px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.profile-image-overlay {
  background-color: rgba(59, 59, 59, 0.514);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 80;
}

.panel-image-container {
  height: 200px;
  position: relative;
  width: 205px;
}

.image-edit-button {
  background-color: transparent;
  border: none;
  bottom: -5px;
  font-size: 1.25rem;
  position: absolute;
  right: -15px;

  @include themify($themes) {
    color: themed('accentColor');
  }
}

.gallery {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  padding-bottom: 40px;
}

.gallery-img {
  border: 3px white solid;
  border-radius: 100%;
  height: 80px;
  object-fit: cover;
  padding: 2px;
  width: 80px;
}

.gallery-img-selected {
  border: 3px $theme-highlight solid;
  border-radius: 100%;
  height: 80px;
  object-fit: cover;
  padding: 2px;
  width: 80px;
}

.gallery-img:hover {
  border: 3px $theme-light solid;
  border-radius: 100%;
  height: 80px;
  object-fit: cover;
  padding: 2px;
  width: 80px;
}

.name-container {
  float: middle;
  padding: 27px 0 5px;
  position: relative;
  width: 25vw;
}

.edit-icon-image {
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  margin-top: -15px;
  position: absolute;
  right: -30px;
  top: 50%;

  @include themify($themes) {
    color: themed('accentColor');
  }
}

.submitted-icon-image {
  background-color: transparent;
  border: none;
  color: $teachla-green;
  float: left;
  font-size: 1.4rem;
  left: -20px;
  margin-top: -13px;
  position: absolute;
  top: 50%;
  transition: 0.5s;
}

.panel-edit-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.panel-edit {
  align-items: baseline;
  background: none;
  border: none;
  float: middle;
  font-family: $font-family-heading;
  font-size: 2rem;
  outline: none;
  padding: 20px 0 5px;
  text-align: center;
  width: 90%;
  word-wrap: break-word;

  @include themify($themes) {
    border-bottom: 1px solid themed('accentColor');
    color: themed('accentColor');
  }
}

.profile-input-error {
  color: $error-red;
  font-size: 1rem;
  padding: 0 25px;
  text-align: center;
}

.panel-name {
  float: middle;
  font-family: $font-family-heading;
  font-size: 2rem;
  margin: 10px 50px 0;
  padding: 10px 0 6px;
  position: relative;
  text-align: center;
  width: 70%;
  word-wrap: break-word;

  @include themify($themes) {
    color: themed('accentColor');
  }
}

.panel-name:hover {
  cursor: pointer;
}

.panel-buttons {
  cursor: default;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  width: 90%;
}

.panel-button {
  align-items: center;

  /* this next block of CSS properly aligns button content */
  display: flex;
  flex-direction: row;
  font-size: 2em !important; /* reactstrap also has a !important somewhere, so we need to do this */
  justify-content: flex-start;
  margin-bottom: 10px;
  text-align: left;

  @include themify($themes) {
    background-color: themed('backgroundColor');
    border-color: themed('backgroundColor');
    color: themed('color');
  }
}

.panel-button:hover,
.panel-button:active {
  @include themify($themes) {
    background-color: themed('color');
    border-color: themed('color');
    color: themed('backgroundColor');
  }
}

.panel-button-text {
  flex: 1;
  text-align: center;
}

/* scrollbar stuff */
.panel-content::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.panel-content::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
.panel-content::-webkit-scrollbar-thumb {
  background: #46414f;
}

/* Handle on hover */
.panel-content::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

// Theme Switch Images
.icon-dark {
  color: #fff;
}

.icon-light {
  color: $theme-dark;
}
