.panel {
  display: flex;
  position: absolute;
  background-color: #473d5d;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  transition: left 0.5s ease;
}

.panel-collapse-button {
  color: #dddcdf;
  padding-right: 15px;
  flex: 0 0 auto;
  font-size: 1.25rem;
  height: 67px;
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.panel-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: content-box;
}

.panel-image {
  width: 205px;
  height: 200px;
  /*background:#000;*/ /*if you leave this out, transparent profile pictures will show the background behind it*/
}

.profile-image-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 470px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 20px;
}

.profile-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(59, 59, 59, 0.514);
  z-index: 80;
}

.modal-submit-button {
  position: fixed;
  width: 116px;
  height: 35px;
  background-color: #4caf50;
  display: inline-block;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 3px #999;
  right: 142px;
}

.panel-image-container {
  position: relative;
  width: 205px;
  height: 200px;
}

.image-edit-button {
  font-size: 1.25rem;
  border: none;
  background-color: transparent;
  color: #dddcdf;
  position: absolute;
  right: -15px;
  bottom: -15px;
}

.gallery {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  grid-gap: 40px;
  padding-bottom: 40px;
}

.gallery-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
  padding: 2px;
  border: 3px white solid;
}

.gallery-img-selected {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
  padding: 2px;
  border: 3px #83dadd solid;
}

.gallery-img:hover {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
  padding: 2px;
  border: 3px #846fb1 solid;
}

.name-container {
  width: 25vw;
  position: relative;
  float: middle;
  padding: 27px 0 5px;
}

.edit-icon-image {
  font-size: 1.25rem;
  color: #dddcdf;
  position: absolute;
  border: none;
  right: -30px;
  top: 50%;
  margin-top: -15px;
  background-color: transparent;
}

.panel-edit-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.panel-edit {
  width: 90%;
  float: middle;
  padding: 20px 0 5px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #dddcdf;
  word-wrap: break-word;
  background-color: #272134;
  align-items: baseline;
  border: none;
}

.profile-input-error {
  color: #f34d4d;
  font-size: 1rem;
  text-align: center;
  padding: 0px 25px;
}

.panel-name {
  float: middle;
  text-align: center;
  margin: 0px 50px;
  width: 150px;
  padding: 20px 0 20px;
  font-size: 2rem;
  font-weight: bold;
  word-wrap: break-word;
  color: #dddcdf;
  position: relative;
}

.panel-options-item {
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #857e8f;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(133, 129, 129);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  margin-bottom: 20px;
}

.panel-options-item:hover {
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.panel-options-item-disabled {
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #857e8f;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(133, 129, 129);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  margin-bottom: 20px;
}
.panel-item-content {
  position: relative;
  font-size: 32px;
  margin-top: 7px;
  margin-right: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.panel-item-content .panel-item-icon {
  display: flex;
  height: 30px;
  padding-right: 10px;
  margin-bottom: 12px;
  margin-left: 5px;
}

.panel-item-content .reverse-image {
  transform: scaleX(-1);
  height: 30px;
}

.panel-item-name {
  display: flex;
  flex: 1;
  justify-content: center;
}

.panel-options {
  width: 100%;
  list-style-position: inside;
  list-style-type: square;
  text-align: center;
  justify-content: flex-start;
  padding-top: 25px;
  cursor: default;
}

.panel-options-list {
  display: inline-block;
}

/*scrollbar stuff*/
.panel-content::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.panel-content::-webkit-scrollbar-track {
  background: #333333;
}

/* Handle */
.panel-content::-webkit-scrollbar-thumb {
  background: #46414f;
}

/* Handle on hover */
.panel-content::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
