@import "styles/variables.scss";

.panel {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  transition: left 0.5s ease;
  @include themify($themes) {
    color: themed("accentColor");
    background-color: themed("accentBackground");
  }
}

.panel-collapse-button {
  @include themify($themes) {
    color: themed("accentColor");
  }
  padding-right: 15px;
  flex: 0 0 auto;
  font-size: 1.25rem;
  height: 67px;
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}

.panel-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: content-box;
}

.panel-image {
  width: 205px;
  height: 200px;
  /*background:#000;*/ /*if you leave this out, transparent profile pictures will show the background behind it*/
}

.profile-image-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 470px;
  width: 400px;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
}

.profile-image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(59, 59, 59, 0.514);
  z-index: 80;
}

.panel-image-container {
  position: relative;
  width: 205px;
  height: 200px;
}

.image-edit-button {
  font-size: 1.25rem;
  border: none;
  background-color: transparent;
  position: absolute;
  right: -15px;
  bottom: -5px;
  @include themify($themes) {
    color: themed("accentColor");
  }
}

.gallery {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 80px 80px 80px;
  grid-gap: 40px;
  padding-bottom: 40px;
}

.gallery-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
  padding: 2px;
  border: 3px white solid;
}

.gallery-img-selected {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
  padding: 2px;
  border: 3px $theme-highlight solid;
}

.gallery-img:hover {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
  padding: 2px;
  border: 3px $theme-light solid;
}

.name-container {
  width: 25vw;
  position: relative;
  float: middle;
  padding: 27px 0 5px;
}

.edit-icon-image {
  font-size: 1.25rem;
  @include themify($themes) {
    color: themed("accentColor");
  }
  position: absolute;
  border: none;
  right: -30px;
  top: 50%;
  margin-top: -15px;
  background-color: transparent;
}

.submitted-icon-image {
  font-size: 1.4rem;
  color: $teachla-green;
  position: absolute;
  float: left;
  border: none;
  left: -20px;
  top: 50%;
  margin-top: -13px;
  background-color: transparent;
  transition: 0.5s;
}

.panel-edit-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.panel-edit {
  width: 90%;
  float: middle;
  padding: 20px 0 5px;
  text-align: center;
  font-size: 2rem;
  word-wrap: break-word;
  background: none;
  align-items: baseline;
  border: none;
  outline: none;
  @include themify($themes) {
    color: themed("accentColor");
    border-bottom: 1px solid themed("accentColor");
  }
  font-family: $font-family-heading;
}

.profile-input-error {
  color: $error-red;
  font-size: 1rem;
  text-align: center;
  padding: 0px 25px;
}

.panel-name {
  float: middle;
  text-align: center;
  margin: 10px 50px 0px;
  width: 70%;
  padding: 10px 0 6px;
  font-size: 2rem;
  word-wrap: break-word;
  @include themify($themes) {
    color: themed("accentColor");
  }
  position: relative;
  font-family: $font-family-heading;
}

.panel-name:hover {
  cursor: pointer;
}

.panel-buttons {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  padding-top: 25px;
  cursor: default;
}

.panel-button {
  text-align: left;
  font-size: 2em !important; /* reactstrap also has a !important somewhere, so we need to do this */
  /* this next block of CSS properly aligns button content */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  @include themify($themes) {
    color: themed("color");
    border-color: themed("backgroundColor");
    background-color: themed("backgroundColor");
  }
}

.panel-button:hover,
.panel-button:active {
  @include themify($themes) {
    color: themed("backgroundColor");
    border-color: themed("color");
    background-color: themed("color");
  }
}

.panel-button-text {
  flex: 1;
  text-align: center;
}

/*scrollbar stuff*/
.panel-content::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.panel-content::-webkit-scrollbar-track {
  background: #333333;
}

/* Handle */
.panel-content::-webkit-scrollbar-thumb {
  background: #46414f;
}

/* Handle on hover */
.panel-content::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

// Theme Switch Images
.icon-dark {
  color: #ffffff;
}

.icon-light {
  color: $theme-dark;
}
