@import 'styles/variables.scss';

.sketches-language-dropdown {
  color: #0d0d0e;
  flex: 0 1 auto;
}

.sketches-language-dropdown-closed-content {
  display: inline-block;
}

.sketches-gallery-img {
  border: 3px white solid;
  border-radius: 100%;
  height: 80px;
  object-fit: cover;
  padding: 2px;
  width: 80px;
}

.sketches-gallery-img-selected {
  border: 3px $theme-highlight solid;
  border-radius: 100%;
  height: 80px;
  object-fit: cover;
  padding: 2px;
  width: 80px;
}

.sketches-gallery-img:hover {
  border: 3px $theme-light solid;
  border-radius: 100%;
  height: 80px;
  object-fit: cover;
  padding: 2px;
  width: 80px;
}

.sketches-gallery::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sketches-gallery::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sketches-gallery::-webkit-scrollbar-thumb {
  background: #37343d;
}

/* Handle on hover */
.sketches-gallery::-webkit-scrollbar-thumb:hover {
  background: #2f2d33;
}

.sketches-modal-header {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.sketches-modal-header-thumbnail-container {
  flex: 0 0;
  height: 100px;
  width: 100px;
}

.sketches-modal-header-thumbnail {
  flex: 0 0;
  height: 100px;
  width: 100px;
}

.sketches-modal {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  left: 50%;
  min-width: 400px;
  padding: 40px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.sketches-form-spinner {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 59.02px;
}
