@import 'styles/variables.scss';

.sketches-container {
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  position: absolute;
  transition: all 0.5s ease;

  @include themify($themes) {
    background-color: themed('backgroundColor');
    color: themed('color');
  }
}

.sketches-header-text {
  cursor: pointer;
  flex: 0 1 auto;
  font-size: 45px;
  font-weight: bold;
  padding: 1rem;
}

.sketches-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 67px;
  justify-content: flex-start;
  width: 100%;

  @include themify($themes) {
    border-bottom: 1px solid themed('color');
  }
}

.sketches-grid {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.sketches-grid-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px 50px;
  width: 100%;
}

.no-sketches-container {
  height: 100%;
  margin-top: 3em;
  padding: 1em;
  text-align: center;
  width: 100%;

  @include themify($themes) {
    color: themed('color');
  }
}
