@use 'variables.scss';

.sketch-thumbnail {
  display: block;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
}

.sketch-box {
  align-items: center;
  border-radius: 5px;
  color: variables.$theme-dark;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 10px;
  width: 200px;

  @include variables.themify(variables.$themes) {
    background-color: variables.themed('cardBackground');
    border: variables.themed('cardBorder');
    color: variables.themed('cardColor');
  }
}

.sketch-box-body {
  color: inherit;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.sketch-box-body:hover {
  color: inherit;
  text-decoration: none;
}

.sketch-divider {
  margin: 0;
  padding: 0;
  width: 100%;

  @include variables.themify(variables.$themes) {
    border-top: 1px solid variables.themed('cardDivider');
  }
}

.sketch-button-divider {
  width: 1px;
  padding: 0;

  @include variables.themify(variables.$themes) {
    border: 0.5px solid variables.themed('cardDivider');
  }
}

.sketch-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
}

.sketch-icon {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
}

.sketch-metadata {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
