.login-button {
  display: inline-block;
  font-family: "Josefin Slab", sans-serif;
  color: rgb(255, 255, 255);
  cursor: pointer;
  overflow: visible;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  user-select: none;
  text-decoration: none;
  padding: 0.5em 1em;
  margin-top: 1em;
  font-size: 1.3rem;
  line-height: 1.4em;
  background-color: rgb(221, 75, 57);
  margin-right: 0.5em;
}
