@import 'variables.scss';

.switch {
  border-radius: 6px;
  box-sizing: content-box;
  cursor: pointer;
  display: block;
  font-family: inherit;
  height: 30px;
  padding: 0.5rem 1rem;
  position: relative;
  width: 100px;
}

.switch-input {
  box-sizing: content-box;
  left: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

.switch-body {
  align-items: center;
  background: $white;
  border-radius: inherit;
  display: flex;
  font-size: 1rem;
  height: inherit;
  justify-content: flex-end;
  padding: 10px;
  position: relative;
  transition: all $switch-transition-time;

  &.switch-on {
    background: $theme-dark;
    justify-content: flex-start !important;
  }
}

.switch-handle {
  background: $theme-dark;
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  height: 30px;
  position: absolute;
  top: 8px;
  transition: all $switch-transition-time;
  width: 30px;

  &.switch-on {
    background: white;
    margin-left: 70px;
  }
}
