@use "sass:map";
// Fonts - currently the ACM Brand

$font-family-heading: 'Poppins', sans-serif;
$font-family-body: 'Chivo', sans-serif;

// Colours - not creatively named

$light-purple: #473d5d;
$dark-purple: #252132;
$gray-purple: #585166;
$off-white: #dddcdf;
$select-cyan: #83dadd;
$error-red: #f34d4d;
$teachla-green: #aed643;
$light-lavender: #8485cc;
$white: #fcfcfc;

// Newly added colours with rework
$teachla-primary: #5eda12;
$teachla-secondary-1: #b0ee00;
$teachla-secondary-2: #28aa26;
$teachla-secondary-3: #016d3a;
$teachla-accent: #09d9c9;
$teachla-gradient: linear-gradient(135deg, #50c609, #bcf223);

// "Theme" Colours - specifically designed to allow for hot-swapping later
$theme-light: $light-purple;
$theme-dark: $dark-purple;
$theme-tertiary: $gray-purple;
$theme-highlight: $select-cyan;
$theme-error: $error-red;

// purple used for the radio switch

$radio-purple: #7a45f0;

// transition time for the light/dark mode switch
$switch-transition-time: 0.3s;

// !global assignment to theme-map can't declare new variables, initialize theme-map here instead
$theme-map: null;

//Theme variables

/* To change colors according to theme:
ex)
    .class{
        @include themify($themes) {
            background-color: themed("backgroundColor");
        }
    }
*/

$themes: (
  light: (
    // defaults
    color: $theme-dark !important,
    backgroundColor: $white !important,
    outputBackground: #e6e6fa,
    accentColor: $white,
    accentBackground: $light-lavender,
    // cards
    cardColor: $theme-dark,
    cardBackground: $white,
    cardBorder: 1px solid $light-lavender,
    cardDivider: $light-lavender,
    // code mirror
    comment: $theme-dark,
    keyword: #9715f3,
    def: #0052ff,
    variable: #f07178,
    builtin: #ff7800,
    er: #fd1f44,
    operator: $theme-dark,
    property: #056d45,
    cursor: #f4ee94,
    selectedLine: $off-white,
    highlightBracket: rgba(174, 214, 67, 0.4), //$teachla-green but with lower opacity
  ),
  dark: (
    // defaults
    color: white !important,
    backgroundColor: $theme-dark !important,
    outputBackground: $theme-tertiary,
    accentColor: white,
    accentBackground: $theme-light,
    // cards
    cardColor: $theme-dark,
    cardBackground: $off-white,
    cardBorder: none,
    cardDivider: $theme-dark,
    // code mirror
    comment: white,
    keyword: #deb0ff,
    def: #47e2d5,
    variable: #f5e83c,
    builtin: #ffb36f,
    number: #f69797,
    operator: rgba(233, 237, 237, 1),
    property: #80cbae,
    cursor: #f4ee94,
    selectedLine: rgba(255, 255, 255, 0.1),
    highlightBracket: rgba(40, 170, 38, 0.4), //$teachla-secondary-2 but with lower opacity
  ),
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map.get(map.get($themes, $theme), '#{$key}');
        $theme-map: map.merge($theme-map,
        (
          $key: $value,
        )) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map.get($theme-map, $key);
}
