// Fonts - currently the ACM Brand

$font-family-heading: "Poppins", sans-serif;
$font-family-body: "Chivo", sans-serif;

// Colours - not creatively named

$light-purple: #473d5d;
$dark-purple: #252132;
$gray-purple: #585166;
$off-white: #dddcdf;
$select-cyan: #83dadd;
$error-red: #f34d4d;
$teachla-green: #AED643;

// "Theme" Colours - specifically designed to allow for hot-swapping later
$theme-light: $light-purple;
$theme-dark: $dark-purple;
$theme-tertiary: $gray-purple;
$theme-highlight: $select-cyan;
$theme-error: $error-red;

//Theme variables
/* To change colors according to theme:
ex)
    .class{ 
        @include themify($themes) {
            background-color: themed("backgroundColor");
        }
    }
*/

$themes: (
  light: (
    color: $theme-dark !important,
    backgroundColor: white !important,
    outputBackground: #E6E6FA,
    accentColor: white,
    accentBackground: $teachla-green,
    /* Card variables */
    cardColor: $theme-dark,
    cardBackground: white,
    cardBorder: 1px solid $teachla-green,
    cardDivider: $teachla-green,
    /* these next colors are all for the editor - check out CustomCM.scss for more info! */
    comment: $theme-dark,
    keyword: #9715f3,
    def: #0052ff,
    variable: #f07178,
    builtin: #ff7800,
    number: #fd1f44,
    operator: $theme-dark,
    property: #056d45,
    cursor: #f4ee94,
    selectedLine: $off-white,
  ),
  dark: (
    color: white !important,
    backgroundColor: $theme-dark !important,
    outputBackground: $theme-tertiary,
    accentColor: white,
    accentBackground: $theme-light,
    /* Card variables */
    cardColor: $theme-dark,
    cardBackground: $off-white,
    cardBorder: none,
    cardDivider: $theme-dark,
    /* these next colors are all for the editor - check out CustomCM.scss for more info! */
    comment: white,
    keyword: #deb0ff,
    def: #47e2d5,
    variable: #f5e83c,
    builtin: #ffb36f,
    number: #f69797,
    operator: rgba(233, 237, 237, 1),
    property: #80cbae,
    cursor: #f4ee94,
    selectedLine: rgba(255, 255, 255, 0.1),
  ),
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
